@using Cheetah_Common.Data;
@if (Records.sd_Status is not null)
{
    <Ctable>
        <caption>
            <span class="text-success">@Title</span>
        </caption>
        <thead>
            <tr>
                <th data-sortable="true" data-checkbox="true">انتخاب</th>
                <th data-sortable="true">نام</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Records.floatState)
            {
                <tr>
                    <td>
                        <input type="checkbox"
                       @onchange="args=>TogglePattern(args, item)"
                               checked="@(@item.Value)" />
                    </td>
                    <td> @item.Key.Item2</td>
                </tr>
            }
        </tbody>
    </Ctable>
}
@code {
    [Parameter]
    public SimpleLinkClassDTO? Records { get; set; }

    [Parameter]
    public String? reference { get; set; }

    [Parameter]
    public String? Title { get; set; }

    private async Task TogglePattern(ChangeEventArgs e, KeyValuePair<Tuple<long, string>, bool> item)
    {
        Records.floatState[item.Key] = (Boolean)e.Value;
    }
}
