<Ctable>
    <caption>
        <NavLink href="@($"Links/{Records.linkType}/{Records.sd_Status}/{Records.fixedId}/{reference}")"
                 class="link-primary me-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z" />
            </svg>
        </NavLink>
        <span class="text-success">@Title</span>
    </caption>
    <thead>
        <tr>
            <th>انتخاب</th>
            <th>نام</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Records.floatState)
        {
            <tr>
                <td>
                    <input type="checkbox"
                       @onchange="args=>TogglePattern(args, item)"
                           checked="@(@item.Value)" />
                </td>
                <td> @item.Key.Item2</td>
            </tr>
        }
    </tbody>
</Ctable>
@code {
    [Parameter]
    public SimpleLinkClassDTO Records { get; set; }

    [Parameter]
    public String? reference { get; set; }

    [Parameter]
    public String Title { get; set; }

    private async Task TogglePattern(ChangeEventArgs e, KeyValuePair<Tuple<long, string>, bool> item)
    {
        Records.floatState[item.Key] = (Boolean)e.Value;
    }
}
