<AuthorizeView>
    <Authorized>
        @context.User.Identity.Name خوش آمدید
        <a href="Identity/Account/Logout">خروج</a>

    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">ثبت‌نام</a>
        <a href="Identity/Account/Login">ورود</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
