<div class="row  m-1" style="direction:rtl">
    <ul class="step-menu p-0" style="margin-bottom: 0px;">
        @foreach (var item in _CNavigation.NavigationList)
        {
            @if (_CNavigation.NavigationList.Last() == item)
            {
                <li role="button" class="current">
                    <a style="color: white; "
                       href="@($"{item.Address}/{item.Reference}")">@item.DisplayName</a>
                </li>
            }
            else
            {
                <li role="button" class="complete">
                    <a style="color: white; "
                       href="@($"{item.Address}/{item.Reference}")">@item.DisplayName</a>
                </li>
            }
        }
    </ul>
</div>

@code {
    [Parameter]
    public CNavigation _CNavigation { get; set; }
}