@using Microsoft.EntityFrameworkCore.Metadata;
@inject IBasePSClassRepository iBasePSClassRepository;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BPMS متن باز چیتا</a>
        <button style="background-image:url(cheetah.jpg)" title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> درخواست جدید
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Inbox">
                <span class="oi oi-inbox" aria-hidden="true"></span> کارهای معوق
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sent">
                <span class="oi oi-task" aria-hidden="true"></span> کارهای انجام شده
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Contact">
                <span class="oi oi-task" aria-hidden="true"></span> ارتباط با ما
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Parameters/List">
                <span class="oi oi-task" aria-hidden="true"></span>گروه اقدام
            </NavLink>
        </div>
        @*@foreach (var item in iEntityType)
        {
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="@($"Parameters/List/{item.DisplayName()}")">
        <span class="oi oi-task" aria-hidden="true"></span>@item.DisplayName()
        </NavLink>
        </div>
        }*@
    </nav>
</div>

@code {
    IEnumerable<IEntityType> iEntityType => iBasePSClassRepository.GetAllEntityType().Take(5);
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}