@page "/AudioPage"
@inherits AudioPage_Code
<h3>AudioPage</h3>

<p>We opened the media device with label: <b>@deviceLabel</b></p>

<button @onclick="Open">Open Microphone MediaStream</button>
<button @onclick="Save">Save Microphone MediaStream</button>

@code {

}
