@page "/"
@inherits MyComponentBase
@inject NavigationManager navigation
@inject IConfiguration configuration
<h3>Home</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (bool.Parse(configuration["AI:Enable"]!))
        {
            navigation.NavigateTo("Account/Login?ReturnUrl=AI");
        }
        else
        {
            navigation.NavigateTo("Account/Login?ReturnUrl=List");
        }
    }
}
