@page "/details/{PL_ParameterTypeID:long}"
@using Cheetah.Core.Interfaces
@inject ITableCRUD _IP_ParameterListRepository;
@inject NavigationManager _navigationManager
@inject IJSRuntime _jsRuntime

@if (IsProcessing)
{
    <center><img src="imeges/Gears.png" /></center>
    @*<div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <h1>در حال بارگیری اطلاعات ...</h1>
    </div>*@
}
else
{
    <EditForm Model="p_ParameterListDTO" method="post">
        <DataAnnotationsValidator />
        <div class="card container mt-4">
            <InputText @bind-Value="_ParameterListDTOName" class="form-control" />
        </div>
    </EditForm>

}
@code {
    [Parameter]
    public String _ParameterListDTOName
    {
        get { return p_ParameterListDTO.Name; }
        set { p_ParameterListDTO.SetName(value); }
    }

    [Parameter]
    public long PL_ParameterTypeID { get; set; }

    public D_TagType p_ParameterListDTO { get; set; } = new();
    public bool IsProcessing { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        // p_ParameterListDTO = await _IP_ParameterListRepository.GetAsync(nameof(D_TagType), PL_ParameterTypeID) as D_TagType;
        IsProcessing = false;
    }
}
