@using Microsoft.AspNetCore.Components.Web
@namespace Cheetah.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <link defer href="css/site.css" rel="stylesheet" />
    <link defer href="Cheetah.styles.css" rel="stylesheet" />
    <link defer href="css/chevronprogressbar.css" rel="stylesheet" />
    <link defer rel="stylesheet" href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" />
    <link defer rel="stylesheet" href="bpmn-js-11.5.0/dist/assets/bpmn-js.css" />
    <link defer rel="stylesheet" href="bpmn-js-11.5.0/dist/assets/diagram-js.css" />
    <link defer rel="stylesheet" href="bpmn-js-11.5.0/dist/assets/bpmn-font/css/bpmn.css" />
    <link defer href="css/navbar.css" rel="stylesheet" />
    <link defer href="vazirmatn-v33.003/round-dots/misc/ui-farsi-digits/vazirmatn-rd-ui-fd-font-face.css" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <style defer>
        body {
            font-family: 'Vazirmatn RD UI FD';
            background: white;
        }
    </style>
</head>
<body>
    @RenderBody()
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">بازنشانی</a>
        <a class="dismiss">🗙</a>
    </div>

    <script defer src="_framework/blazor.server.js"></script>
    <script src="jquery/3.6.0/jquery.min.js"></script>
    <script defer src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>
    <script defer src="bpmn-js-11.5.0/dist/bpmn-modeler.development.js"></script>
    <script defer src="js/samplebpms.js"></script>
    <script defer src="js/chevronprogressbar.js"></script>
    <script defer src="JS/common.js"></script>
    <script defer src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>