@page "/"
@inject IJSRuntime _JSRuntime
<PageTitle>درخواست جدید</PageTitle>

<h1>طراحی فرآیند</h1>
<br />

    <button class="btn btn-secondary" @onclick="TestConfirmation">بارگزاری اطلاعات</button>
<div id="canvas" style="height:600px"></div>

@code {
    string value;



    void OnChange(string value, string name)
    {
        _JSRuntime.InvokeVoidAsync("ShowBPMN");

        //console.Log($"{name} value changed to {value}");
    }

    private async Task TestConfirmation()
    {
        await _JSRuntime.InvokeVoidAsync("ShowBPMN");
    }

    void OnProgress(UploadProgressArgs args, string name)
    {

    }
}
