@page "/Request"
@using Cheetah.Presentation.Web.Blazor.Server.Resx;
@inject IJSRuntime _JSRuntime
@inject IGlobalization globalization
<PageTitle>@(globalization.GetValue(nameof(Localization.NewMessage), new String[] { }))</PageTitle>

    <div>
        <h1>@(globalization.GetValue(nameof(Localization.ModelDiagram), new String[] { }))</h1>
    <br />
    <div class="btn-group" role="group" aria-label="Basic example" style="direction: ltr;width: 20em;">
        <button id="save-button" class="btn btn-info">
            @(globalization.GetValue(nameof(Localization.Save), new String[] { }))
        </button>
        <button class="btn btn-primary" @onclick="TestConfirmation">
            @(globalization.GetValue(nameof(Localization.Upload), new String[] { }))
        </button>
    </div>
</div>
<br />
<div id="canvas" style="height:400px;direction:ltr"></div>

@code {

    string value;

    void OnChange(string value, string name)
    {
        _JSRuntime.InvokeVoidAsync("ShowBPMN");

        //console.Log($"{name} value changed to {value}");
    }

    private async Task TestConfirmation()
    {
        await _JSRuntime.InvokeVoidAsync("ShowBPMN");
        value = globalization.GetValue(nameof(Localization.Upload), new String[] { });
    }


}
