@page "/Parameters/List"
@page "/Parameters/List/{idList:long}"
@*@page "/Parameters/List/{entityName:String}"*@
@using Cheetah_DataAccess.Parameters;
@using Cheetah_Models.Parameters;
@inject IP_ParameterListRepository iP_ParameterListRepository;
@inject IJSRuntime _jSRuntime;

<_DeleteConfirmation IsParntComponentProcessing="IsLoading" ConfirmationChanged="ConfirmDelete_Click"></_DeleteConfirmation>

<div style="direction:rtl">
    @*<h3>CopyROLE</h3>*@
    <div class="row mt-4">
        <div class="col-6">
            <h4 class="card-title text-primary">لیست پارامتر اقدام</h4>
        </div>
        <div class="col-2 offset-2">
            <a href="Parameters/Create" class="btn btn-primary form-control">افزودن پارامتر</a>
        </div>
    </div>
    <div class="col-12">
        @if (p_ParameterListDTO.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>نام گروه</th>
                        <th>اقدام</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in p_ParameterListDTO)
                    {
                        <tr>
                            <td>@item.PName</td>
                            <td>
                                <NavLink href="@($"Parameters/Edit/{item.IdRecord}")" class="btn-primary btn">ویرایش</NavLink>
                                <button class="btn btn-danger" @onclick="()=>HandleDelete(item.IdRecord)">حذف</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                <h1>در حال بارگیری اطلاعات ...</h1>
                @*<img src="imeges/Loading_Symbol.gif" />*@
            }
            else
            {
                <h1>هیچ ورودی یافت نشد</h1>
            }
        }
    </div>
</div>
@code {

    [Parameter]
    public long? idList { get; set; }

    private IEnumerable<P_ParameterListDTO> p_ParameterListDTO { get; set; } = new List<P_ParameterListDTO>();

    public Boolean IsLoading { get; set; }
    public long DeleteidRole { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await Load_p_UserActionGroupDTO();
    }
    private async Task Load_p_UserActionGroupDTO()
    {
        IsLoading = true;
        StateHasChanged();
        p_ParameterListDTO = await iP_ParameterListRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }
    private void HandleDelete(long id)
    {
        DeleteidRole = id;
        _jSRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }
    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading = true;
        if (isConfirmed && DeleteidRole != 0)
        {
            await iP_ParameterListRepository.delete(DeleteidRole);
            await Load_p_UserActionGroupDTO();
            await _jSRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
        }
        IsLoading = false;
    }
}