<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <link defer href="css/site.css" rel="stylesheet" />
    <link defer href="css/chevronprogressbar.css" rel="stylesheet" />
    <link defer rel="stylesheet" href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" />
    <link defer href="vazirmatn-v33.003/round-dots/misc/ui-farsi-digits/vazirmatn-rd-ui-fd-font-face.css" rel="stylesheet" />
    <link defer href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link defer rel="stylesheet" href="dist/index.bundle.css" />
    <style defer>
        body {
            font-family: 'Vazirmatn RD UI FD';
            background: white;
        }
    </style>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script defer src="dist/index.bundle.js"></script>
    <script defer src="_framework/blazor.server.js"></script>
    <script defer src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>
    <script defer src="js/chevronprogressbar.js"></script>
    <script defer src="js/common.js"></script>
    <script defer src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
