<div class="modal fade" data-backdrop="static" data-keyboard="false"
     id="deleteConfirmationModal" tabindex="-1" role="dialog"
     lang="fa" dir="rtl">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تایید حذف</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                آیا از حذف رکورد مطمئن هستید؟
            </div>
            @if (IsParntComponentProcessing)
            {
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal" disabled>
                        انصراف
                    </button>
                    <button type="button" class="btn btn-danger" disabled>
                        در حال پردازش ...
                    </button>
                </div>
            }
            else
            {
                <div class="form-group col-6 mx-auto my-1">
                    <div class="btn-group" role="group" aria-label="Basic example" style="direction: ltr">
                        <button class="btn btn-danger"
                            @onclick="()=>ConfirmationDelete(true)">
                            حذف
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                            </svg>
                        </button>
                        <div type="button" class="btn btn-info"
                             data-bs-dismiss="modal" @onclick="()=>ConfirmationDelete(false)">
                            انصراف
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
                            </svg>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> ConfirmationChanged { get; set; }

    [Parameter]
    public bool IsParntComponentProcessing { get; set; }

    private async Task ConfirmationDelete(Boolean DeletedState)
    {
        if (DeletedState)
        {
            await ConfirmationChanged.InvokeAsync(DeletedState);
        }
    }
}
