<div class="row shadow rounded my-1 mx-1 table-responsive p-3"
     style="min-width:800px">
    <table style="width: 100%;"
           class="display CustomTable table table-striped table-bordered align-middle caption-top MyTable no-footer"
           aria-describedby="example_info">
        <caption>@caption</caption>
        <thead class="text-primary">
            @thead
        </thead>
        <tbody>
            @tbody
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public RenderFragment caption { get; set; }
    [Parameter]
    public RenderFragment thead { get; set; }
    [Parameter]
    public RenderFragment tbody { get; set; }
}
