USE [Cheetah]
GO
/****** Object:  Table [dbo].[ProcessEndorsements]    Script Date: 1/22/2023 12:13:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessEndorsements](
	[idProcessEndorsements] [bigint] NOT NULL,
	[finalEnt] [int] NULL,
	[guidProcessEndorsements] [uniqueidentifier] NOT NULL,
	[dsblProcessEndorsements] [bit] NOT NULL,
	[dplyProcessEndorsements] [tinyint] NOT NULL,
	[PE_OrgPositions] [bigint] NULL,
	[PE_ApproveOrder] [tinyint] NULL,
	[PE_RequestTitles] [bigint] NULL,
	[PE_Code] [int] NULL,
	[PE_ExpertUser] [int] NULL,
	[PE_Conditional] [bit] NULL,
	[PE_Mail] [bit] NULL,
	[PE_Automation] [bit] NULL,
	[PE_SMS] [bit] NULL,
	[PE_Transcript] [bit] NULL,
	[PE_Conditional2] [bit] NULL,
	[PE_TaskName] [nvarchar](50) NULL,
	[PE_ValidUserAction] [nvarchar](50) NULL,
	[PE_Active] [bit] NULL,
	[PE_ProcessState] [bigint] NULL,
	[PE_SubRequestTitles] [nvarchar](50) NULL,
	[PE_Conditional3] [bit] NULL,
	[PE_Conditional4] [bit] NULL,
	[PE_Conditional5] [bit] NULL,
	[PE_Code_STR] [nvarchar](50) NULL,
	[RT_ConditionDrug] [bit] NULL,
	[RT_ConditionFMCG] [bit] NULL,
	[PE_ValidOutput] [nvarchar](50) NULL,
	[RT_SendAll] [bit] NULL,
	[RT_SupplierSHare] [bit] NULL,
	[RT_AlborzSHare] [bit] NULL,
	[PE_UserRelationship] [nvarchar](50) NULL,
 CONSTRAINT [ProcessEndorsements_PK] PRIMARY KEY CLUSTERED 
(
	[idProcessEndorsements] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ProcessEndorsements_UKG]    Script Date: 1/22/2023 12:13:09 PM ******/
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_UKG] UNIQUE NONCLUSTERED 
(
	[guidProcessEndorsements] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF2]  DEFAULT ((11081)) FOR [finalEnt]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DFG]  DEFAULT (newid()) FOR [guidProcessEndorsements]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DFD]  DEFAULT ((0)) FOR [dsblProcessEndorsements]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DFY]  DEFAULT ((0)) FOR [dplyProcessEndorsements]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10180]  DEFAULT ((0)) FOR [PE_Conditional]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10186]  DEFAULT ((1)) FOR [PE_Mail]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10170]  DEFAULT ((1)) FOR [PE_Automation]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10184]  DEFAULT ((1)) FOR [PE_SMS]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10188]  DEFAULT ((1)) FOR [PE_Transcript]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10190]  DEFAULT ((0)) FOR [PE_Conditional2]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10178]  DEFAULT ('1,2,3,101') FOR [PE_ValidUserAction]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10174]  DEFAULT ((1)) FOR [PE_Active]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10172]  DEFAULT ((0)) FOR [PE_Conditional3]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10194]  DEFAULT ((0)) FOR [PE_Conditional4]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10196]  DEFAULT ((0)) FOR [PE_Conditional5]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10182]  DEFAULT ((0)) FOR [RT_SendAll]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10176]  DEFAULT ((0)) FOR [RT_SupplierSHare]
GO
ALTER TABLE [dbo].[ProcessEndorsements] ADD  CONSTRAINT [ProcessEndorsements_DF10192]  DEFAULT ((0)) FOR [RT_AlborzSHare]
GO
