USE [Cheetah]
GO
/****** Object:  Table [dbo].[RequestTitles]    Script Date: 1/22/2023 12:16:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestTitles](
	[idRequestTitles] [bigint] NOT NULL,
	[finalEnt] [int] NULL,
	[guidRequestTitles] [uniqueidentifier] NOT NULL,
	[dsblRequestTitles] [bit] NOT NULL,
	[dplyRequestTitles] [tinyint] NOT NULL,
	[RequestTitles_Name] [nvarchar](50) NULL,
	[RequestTitles_ShowSupport] [bit] NULL,
	[RequestTitles_ProcessName] [nvarchar](50) NULL,
	[RequestTitles_Code] [int] NULL,
	[RT_ConditionOccur] [nvarchar](50) NULL,
	[RT_ConditionOccur2] [nvarchar](50) NULL,
	[CheckList] [bit] NULL,
	[ERP] [bit] NULL,
	[RT_AnotherRequester] [bit] NULL,
	[RT_ConditionOccur3] [nvarchar](50) NULL,
	[RT_ConditionOccur4] [nvarchar](50) NULL,
	[RT_ConditionOccur5] [nvarchar](50) NULL,
	[RT_OutputVar1] [nvarchar](50) NULL,
	[RT_OutputVar2] [nvarchar](50) NULL,
	[RT_OutputVar3] [nvarchar](50) NULL,
	[RT_OutputVar4] [nvarchar](50) NULL,
	[RT_OutputVar5] [nvarchar](50) NULL,
	[RT_RemoveRequestorApproval] [bit] NULL,
 CONSTRAINT [RequestTitles_PK] PRIMARY KEY CLUSTERED 
(
	[idRequestTitles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [RequestTitles_UKG]    Script Date: 1/22/2023 12:16:01 PM ******/
ALTER TABLE [dbo].[RequestTitles] ADD  CONSTRAINT [RequestTitles_UKG] UNIQUE NONCLUSTERED 
(
	[guidRequestTitles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RequestTitles] ADD  CONSTRAINT [RequestTitles_DF2]  DEFAULT ((11075)) FOR [finalEnt]
GO
ALTER TABLE [dbo].[RequestTitles] ADD  CONSTRAINT [RequestTitles_DFG]  DEFAULT (newid()) FOR [guidRequestTitles]
GO
ALTER TABLE [dbo].[RequestTitles] ADD  CONSTRAINT [RequestTitles_DFD]  DEFAULT ((0)) FOR [dsblRequestTitles]
GO
ALTER TABLE [dbo].[RequestTitles] ADD  CONSTRAINT [RequestTitles_DFY]  DEFAULT ((0)) FOR [dplyRequestTitles]
GO
ALTER TABLE [dbo].[RequestTitles] ADD  CONSTRAINT [RequestTitles_DF612]  DEFAULT ((1)) FOR [RequestTitles_ShowSupport]
GO
ALTER TABLE [dbo].[RequestTitles] ADD  CONSTRAINT [RequestTitles_DF614]  DEFAULT ((0)) FOR [ERP]
GO
ALTER TABLE [dbo].[RequestTitles] ADD  CONSTRAINT [RequestTitles_DF608]  DEFAULT ((0)) FOR [RT_AnotherRequester]
GO
ALTER TABLE [dbo].[RequestTitles] ADD  CONSTRAINT [RequestTitles_DF610]  DEFAULT ((0)) FOR [RT_RemoveRequestorApproval]
GO
